@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color : rgba(255, 144, 14, 0.1);
    --dark-3-color : rgba(114, 114, 114, 1);
}
.heading-title {
    font-size: 2.1rem;
    font-weight: bold;
}
.discrip {
    color: var(--dark-3-color);
    font-size: 0.8rem;
}
.btn {
    padding: 15px 15px;
    color: white;
    background-color:#FF900E;
    border-radius: 8px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
}
.flex {
    display: flex;
}
.gird {
    display: grid;
}
header {
    background-color: var(--bg-color);
}
nav , #brand {
    width: 75%;
    margin: 0 auto;
}
#nav ,.details{
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}
.nav-ul {
    list-style: none;
    gap: 30px;
    justify-content: space-between;
}
.nav-ul a {
    text-decoration: none;
    color:  rgba(66, 66, 66, 1);
    font-weight: 600;
}
#brand .title {
    font-size: 3.5rem;
    font-weight: bold;

}
#brand img {
    width: 100%;
}
#brand, .details{
    flex-direction: column;
}
.details {
    text-align: center;
    gap: 20px;
}
#brand {
    padding-bottom: 50px ;
}