@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color : rgba(255, 144, 14, 0.1);
    --dark-3-color : rgba(114, 114, 114, 1);
}
.heading-title {
    font-size: 2.1rem;
    font-weight: bold;
}
.discrip {
    color: var(--dark-3-color);
    font-size: 0.8rem;
    line-height: 25px;
}
.btn {
    padding: 15px 15px;
    color: white;
    background-color:#FF900E;
    border-radius: 8px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
header {
    background-color: var(--bg-color);
}
nav , #brand ,#team {
    width: 75%;
    margin: 0 auto;
}
#nav ,.details{
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}
.nav-ul {
    list-style: none;
    gap: 30px;
    justify-content: space-between;
}
.nav-ul a {
    text-decoration: none;
    color:  rgba(66, 66, 66, 1);
    font-weight: 600;
}
#brand .title {
    font-size: 3.5rem;
    font-weight: bold;

}
#brand img , .photo-container img {
    width: 100%;
}
#brand, .details, .features{
    flex-direction: column;
}
.details {
    text-align: center;
    gap: 20px;
}
#brand {
    padding-bottom: 50px ;
}
#team {
    justify-content: space-between;
    gap: 50px;
    padding: 0 50px;
    margin: 100px auto;
}
.photo-container, .features {
    width: 50%;
}
.photo-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features {
    justify-content: center;
    gap: 20px;
}
#quick {
    font-weight: 500;
    color: var(--dark-3-color);
}
#feature {
    color: #FF900E;
}